node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Logs
logs
*.Logs
# Compiled directory and file
build/
bundle.js
# Dependency directories
node_modules/
